.fly {
    animation: mymove 0.5s infinite;
}

@keyframes mymove {
    50% {
        transform: rotate(360deg);
    }
}

.modal-header {
    border-bottom: 0px;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(0.8, 0.8);
        opacity: 0.0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1.0;
    }
}

.saving {
    animation: zoominoutsinglefeatured .3s 1;
}

.TransFormAnim {
    animation: zoominoutsinglefeatured .150s 1;
}

body {
    margin-top: 10vh;
    margin-bottom: 50vh;
}

@keyframes xshake_anim {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
        background-color: white
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
        background-color: #00fb59
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
        background-color: #00e7ff
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
        background-color: white
    }
}

.xshake {
    animation: xshake_anim .3s 2;
    animation-timing-function: ease-in-out;
}